<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="host" default="192.168.50.63" />
  <arg name="ns" default="quanergy" /> <!-- "quanergy" -->
  <arg name="topic" default="points_raw" /> <!-- "points" -->
  <arg name="frame" default="velodyne" />
  <arg name="return" default="2" /> <!-- 0 for max intensity, 1, 2 for max range, all, or all_separate_topics -->

  <!-- driver -->
    <node name="lidar_node"
          pkg="quanergy_client_ros" 
          type="client_node" 
          args="--host $(arg host) --settings $(find quanergy_client_ros)/settings/client.xml --frame $(arg frame) --topic $(arg topic) --return $(arg return)"
          required="true"
          output="screen"/> <!-- name="client_node" -->
</launch>
